.header {
  height: 80px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 40px;
  position: fixed;
}

.logo {
  height: 60px;
  width: 60px;
  margin-left: 10px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.352);
  border-radius: 50%;
  transition: 0.5s all;
}
.logo:hover {
  box-shadow: 0 0 6px rgba(255, 255, 255, 0.814);
  z-index: 1000;
  cursor: pointer;
}
.search {
  
    height: 30px;
    display: flex;
  margin-left: 40px;
  width: 30%;
  transition: 1.5s all;
  border: 1px solid white;
  border-radius: 15px;
  overflow: hidden;
  position: relative;

}
.search-logo{
    height: 100%;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-left: 1px solid white;
    cursor: pointer;
}

input[type="search"] {
  width: 100%;
  transition: 1.5s ease-in-out;
  padding-left:6px ;
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
}

.list-div {
  position: relative;
  z-index: 1000;
}



.profile {
  height: 30px;
  width: 30px;

  border-radius: 50%;
  position: absolute;
  right: 120px;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: none;
  padding: 1px;
  transition: 0.3s all;
}

.cart {
  height: 40px;
  width: 40px;

  border-radius: 50%;
  position: absolute;
  right: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: none;
  padding: 1px;
  transition: 0.3s all;
}

.burger {
  height: 40px;
  width: 40px;
  border: 1px solid black;
  display: none;
  position: absolute;
  right: 28px;

  justify-content: center;
  align-items: center;
  text-align: center;

  border-radius: 10px;
  overflow: hidden;
  border: none;
  transition: 0.3s all;
}
.threeDot {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 25px;
  width: 10px;

  position: absolute;
  right: 15px;
  transition: 0.3s all;
  padding: 2px;
  border-radius: 10px;
}

.burger:hover,
.cart:hover,
.profile:hover,
.threeDot:hover {
  background-color: rgba(255, 255, 255, 0.11);
  backdrop-filter: blur(5px);
  cursor: pointer;
}



@media (min-width: 750px) and (max-width: 1150px) {
  .search {
    margin-left: 80px;
    width: 15%;
  }
  
  .logo{
    height: 50px;
    width: 50px;
  }

  .profile {
    font-size: medium;
  }
  .cart {
   
    font-size: medium;
  }
  .threeDot{
    font-size: medium;
  }

}

@media (max-width: 750px) {
  .search {
    width: 25%;
    position: relative;
    left: 100px;
  }

  .burger {
    right: 15px;
    display: flex;
    font-size: small;
  }

  .profile {
    font-size: small;
    right: 105px;
  }
  .cart {
    right: 60px;
    font-size: small;
  }
  .threeDot{
    font-size: small;
  }

  .threeDot{
    display: none;
  }

    
}

    @media (max-width: 500px) 
    
{
    .search {
        left: 15px;
    }


}

@media (max-width: 400px) 
    
{
    .search {
        left: 6px;
    }

    .burger {
        right: 5px;
        display: flex;
        font-size: 0.7em;
      }
    
      .profile {
        font-size: 0.7em;
        right: 80px;
      }
      .cart {
        right: 45px;
        font-size: 0.7em;
      }


}

