* {
  margin: 0;
  padding: 0;
}

.about_page {
  min-height: 89vh;
  width: inherit;
  background-color: #fff;
  padding-top: 80px;
  position: relative;
  min-width: 360px;
}

.about_content {
  height: auto;
  width: inherit;
  padding: 55px;
  position: relative;
  display: flex;
  gap: 80px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  
}

.p {
  padding: 40px;
  padding-top: 10px;
  max-width: 750px;
  background-color: #eee;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  font-size: 1.05rem;
}



.about_content h2 {
  display: inline-block;
  padding: 20px;
  background-color: #eee;
  border-radius: 10px;
  position: relative;
  top: -40px;
  left: -70px;
  transition: 0.5s all;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  white-space: nowrap;
  z-index: 1;

}

.our_team_box{
  background-color: #eee;
  padding: 20px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 1.4em;
  transition: 0.5s all;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
 }

@media (max-width: 750px) {
  .p{
    padding: 15px;
  }
 
  .p h2 {
  
    top: -40px;
    left: -40px;
    font-size: large;
  
  }
  h2{
    font-size: large;
  }

  .our_team_box{
    font-size: large;
  }
}

@media (max-width: 750px) {

  .p{
    font-size: 4vw;
  }
  .p h2{
    font-size: 1em;
  }
}