


.nav {
    margin-left: 55px;
    display: flex;
    gap: 20px;
    width: 30%;
    justify-content: space-between;
    border: 0px solid black;
    position: relative;
  }
  
  
  .nav a {
    color: white;
    text-decoration: none;
    font-size: 1.1em;
    display: inline-block;
    transition: 0.3s all;
  }
  
  .nav a:hover {
    color: blue;
    border-bottom: 1px solid blue;
  }


  @media (min-width: 750px) and (max-width: 1150px) {
    .nav a {
        font-size: 1em;
    }
    .nav{
        margin-left: 29px;
        width: 35%;
    }


  }

  @media (max-width: 750px) {
    .nav {
        display: none;
      }


  }

