.dropDowns {
  height: auto;
  width: 100%;
  top: -3px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.name_icons {
  height: 40px;
  width: 100%;
  color: black;
  cursor: pointer;

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.icons {
  margin-left: 12px;
  position: relative;
  top: 2px;
}

.name_icons:hover {
  background: #ddd;
  
}

.btn_containers {
  height: auto;
  width: 50%;
  margin-top: 0px;
  padding: 7px 0px;
  display: flex;
  gap: 6px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  background-color: none;
}

.dropDown_btns {
  height: auto;
  width: 100%;
  border-radius: 5px;
  display: inline-block;
  cursor: pointer;
  z-index: 999;
  padding: 5px 0px;
  text-decoration: none;
  color: black;
}

.dropDown_btns:hover {
  background-color: #ddd;

}


.active{
  color: blue;
}