


.home{
    height: 729px;
    width: 100%;
    border: 0px solid black;
    background-image: linear-gradient(to top , rgba(0, 0, 0, .9), rgba(0, 0, 0, .1), rgba(0, 0, 0, .9)), url(../public/b1500.jpg);
    background-size: 100% 100%; 
    background-position: center;
    object-fit:contain ;
    background-repeat: no-repeat;
    overflow: hidden;
    min-width: 360px;
   

}