
/* 
.cart:hover{

    background: rgba(255, 255, 255, 0.159);
    backdrop-filter: blur(2px);
    color: black;
} */


.cart_section{
    height: 89vh;
    width: 350px;
    border: 0px solid black;
    position: fixed;
    top: 60px;
    right: 2px;
   
    display: flex;
    flex-direction: column;
    padding-top: 10px;

    align-items: center;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.089);
    backdrop-filter: blur(5px);
    z-index: 999;
    cursor: pointer;
}





